:root {
    --latchblue: #dadce7;
    --apostrophegold: #b6a066;
    --almostblack: #2F2F2F;
    --acnegrey: #EEEEEE;
    --darkblue: #1C1E27;
  }

#mouse-scroll {
    style: block;
  }
  #mouse-scroll {
    position: absolute;
    margin: auto;
    left: 50%;
    bottom: 30px;
    -webkit-transform: translateX(-50%);
 
  }
  #mouse-scroll span{
    display: block;
    width: 10px; 
    height: 10px;
    -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         transform: rotate(45deg);
    border-right: 4px solid  var(--almostblack); 
    border-bottom: 4px solid var(--almostblack); 
    margin: 0 0 3px 5px;
  }
  #mouse-scroll .mouse {
   height: 30px;
    width: 20px;
    border-radius: 30px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 3px solid var(--almostblack); 
    top: 170px;
    opacity: 1;
  }
  #mouse-scroll .down-arrow-1 {
    margin-top: 6px;
  }
  #mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite; 
      -moz-animation: mouse-scroll 1s infinite:
  }
  #mouse-croll .down-arrow-1 {
     -webkit-animation-delay: .1s; 
     -moz-animation-delay: .1s;
     -webkit-animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s; 
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-3 {
     -webkit-animation-delay: .3s;
     -moz-animation-dekay: .3s;
     -webkit-animation-direction: alternate;
  }
  #mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background: var(--almostblack); 
    position: relative;
  }
  #mouse-scroll .mouse-in {
   -webkit-animation: animated-mouse 1.2s ease infinite;
    moz-animation: mouse-animated 1.2s ease infinite;
  }
  
  @-webkit-keyframes animated-mouse {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
       opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    } 
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  